* {
    padding:0;
    margin: 0;
    }
main{
        background-color:white;
    }
header img{
    width: 1980px;
    height: 550px;
}
header ul{
    background-color:slateblue;
    display: flex;
    list-style:none;
    margin-top:-5px;
    }
header ul li{
    padding:20px;
    color: whitesmoke;
    flex-grow: 1;
    text-align: center;
}
header ul li:hover{
    background-color: rgba(218, 8, 137, 0.425);
}
.circle {
    width: 260px;
    height: 260px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: slateblue;
    position: absolute;
    top:410px;
    right: 41%;
}

header ul li img{
    width:190px;
    height:190px ;
    position: absolute;
    top:420px;
    left:720px;
}
body{
    background-color: rgb(250, 245, 245);
    background-size: cover;
    background-attachment: fixed;    
}

.container0{
    border: 5px outset black;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    border-style: double;
}

.line1products{
    display: flex;
    justify-content: space-around;
        
}
.line2products{
    display: flex;
    justify-content: space-around;
        
}

.line1buttons{
    display: flex;
    justify-content: space-around;
}
.line2buttons{
    display: flex;
    justify-content: space-around;
}

.shopproduct{
    padding: 40px;
    border:0;
    display: flex;
    justify-content: space-evenly;
    
}
.shopproduct2{
    padding: 40px;
    border:0;
    display: flex;
    justify-content: space-evenly;
    
}

.name-product-shop{
    padding-top: 73%;
}

img{
    width: 250px;
    height: 250px;  
}
   
}


/*ESTILOS CARRITO DE COMPRA*/
#imgsecond{
    width: 100px;
    height: 100px;
}

.product{
    
    padding-left: 5%;
    display: flex; 
    
}

div > p {
   font-size: 18px;
   padding-top: 2px;
   font-family: cursive;
}

.pre-order{
    padding-top: 5%;
    }

.container{
    border: 5px outset black;
    margin-right: 300px;
    margin-left: 300px;
    padding-bottom: 40px;
    border-radius: 20px;
    border-style: double;
}
.total{
    margin-left: 75%;
}
.buy-car {
    margin-left: 23%;
    font-family: 'Architects Daughter', cursive;
}

/*ESTILOS METODO DE PAGO*/
.card-validation{
    margin-top: 5%;
}

.pay{
    margin-left: 23%;
    font-family: 'Architects Daughter', cursive;
}
.conten-card{
    border: 5px outset black;
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 20px;
    border-style: double;
}

form > label{
    font-family: cursive;
    font-size: 18px;
    padding-left: 5%;
}

.card-validation input[type="number"]{
    outline: none;
    width: 50%;
    padding: 10px 5px;
    margin: 0 0 0 40px;
    background: rgba(233, 227, 227, 0.5);
    color: rgb(70, 65, 65);
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}


.card-validation input[type="button"]{
    outline: none;
    width: 10%;
    margin: 0 0 0 10px;
    background: rgba(51, 50, 50, 0.5);
    color: #ff851b;
    border: none;
    border-radius: 2px;
    font-family: cursive;
    font-size: 30px;
    font-weight:normal; 
    transition: all .5s ease;
}
footer{
    background: url(./Imágenes/footer\ png.png);
    width: 1980px;
    height: 250px;
}

main{
    padding-bottom: 60px;
    padding-top: 80px;
}

/*aplicando estilos footer*/

.copyright{
    display: flex;
    justify-content: center;
    color: floralwhite;
    font-size: 20px;
    padding-top: 50px;
}
.redes-sociales{
    display: flex;
    justify-content: space-around;
}
.red{
    padding-top: 50px;
    width: 80px;
    height: 80px;
}
